---
layout: default
title: Logs
---
{% for post in site.posts %}
<div class="posts">
    <h1 class="">
        <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% if post.image %}
    <div class="thumbnail-container" style="background-image:url({{ site.github.url}}{{ post.image}});">
    </div>
    {% endif %}
    <p>
        {{ post.content | strip_html | truncate: 200 }} <a href="{{ site.github.url }}{{ post.url }}"
            style="color:#4183c4;">
            <small>read more</small>
        </a>
        <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} -
            <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
</div>
{% endfor %}